CTYPE html>
<html>
<head><title>Angular Rest Create</title>
<!--Using a content delivery network - watch if they go down so does your site-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular.min.js"></script>
</head>
<body data-ng-app>
    <form data-ng-submit="submit()" data-ng-controller="Ctrl">
    <p>Student Name: <input data-ng-model="studentName" /></p>
    <p>Student SSN: <input data-ng-model="studentSSN" /></p>
    <p>Student Email: <input data-ng-model="studentEmail" /></p>
    <p>Student Phone: <input data-ng-model="studentPhone" /></p>
    <p><input type="submit" id="submit" value="Submit" /></p>
    <p>Response: {{ response }}</p>
</form>
</body>
<script>
    function Ctrl($scope) {
        $scope.submit = function () {
            //Make sure to change the host and port to match the URL 
            var query = "http://localhost:3000/CreateStudent";
            var tblStudent = {
                StudentName: $scope.studentName,
                StudentSSN: $scope.studentSSN,
                StudentEmail: $scope.studentEmail,
                StudentPhone: $scope.studentPhone
            };
            $.ajax({
                url: query,
                contentType: "application/json; charset=utf-8",
                crossDomain: true,
                data: JSON.stringify(tblStudent),
                dataType: 'json',
                processData: true,
                type: 'POST'
            })
            .done(function (json) {
                $scope.response = json;
                $scope.$apply();
            })
            .fail(function () {
                alert("Error");
            });
        }
    }
    </script>
</html>


