doctype html
html(lang="en")
  head
  body
   mixin thumbnail(imageName, caption)
    div.thumbnail
     img(src="/img/#{imageName}.jpg")
     h4.image-caption= caption

+thumbnail("oceans-eleven", "Danny Ocean makes an elevator pitch.")
+thumbnail("pirates", "Introducing Captain Jack Sparrow!")
