doctype html
html(lang="en")
  head
  body
   div
    p How are you?
    p.
     I'm fine thank you.
     And you? I heard you fell into a lake?
     That's rather unfortunate. I hate it when my shoes get wet.

