var express = require("express");
var bodyParser = require("body-parser");
var Handlebars  = require('express-handlebars');
var app = express();
 
app.use(bodyParser.json());
app.use(bodyParser.urlencoded({ extended: true }));

app.engine('handlebars', Handlebars({
    defaultLayout: 'main'
}));

app.set('view engine', 'handlebars');

app.get('/', function (req, res) {
    res.render('home');
});

app.get('/slide12', function (req, res) {
    res.render('slide12', {
	layout: 'slide',
        title: "All about <p> Tags",
        body: "<p>This is a post about &lt;p&gt; tags</p>"
   });
});

app.get('/slide15', function (req, res) {
    res.render('slide15', {
        layout: 'slide',
        people: [
         {firstName: "Jim", lastName: "Smith"},
         {firstName: "Jane", lastName: "Smith"},
         {firstName: "Alan", lastName: "Smith"}
        ],
      helpers: {
          list: function(items, options) {
           var out = "<ul>";
           for(var i=0, l=items.length; i<l; i++) {
             out = out + "<li>" + options.fn(items[i]) + "</li>";
           }
           return out + "</ul>";
         }
      }
   });
});

var server = app.listen(3000, function () {
    console.log("Listening on port %s...", server.address().port);
});


